In [18]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data_path = '../data/'
# looping over data to explore
datum = []
file_names = []
for file in os.listdir(data_path):
    # read jsonl files with enter as delimiter
    if file.endswith('.jsonl'):
        datum.append(pd.read_json(data_path + file, lines=True))
        file_names.append('.'.join(file.split('.')[:2]))
datum = zip(datum, file_names)
datum = list(datum)

In [25]:
# looping over data and find which file is largerst
data_size = []
for data, file_name in datum:
    total_words = 0
    for line in data['text']:
        total_words += len(line.split())
    data_size.append((file_name, total_words))
data_size = sorted(data_size, key=lambda x: x[1], reverse=True)
data_size

[('Yelp_Hotel.train', 2707919),
 ('News.train', 2653909),
 ('News.test', 1246035),
 ('News.dev', 1230544),
 ('Economy.train', 900959),
 ('Yelp_Hotel.test', 789126),
 ('Yelp_Hotel.dev', 770595),
 ('Amazon.train', 407103),
 ('HyperPartisan.train', 276670),
 ('Parties.train', 235380),
 ('Suning.train', 234197),
 ('ChemProt.train', 129963),
 ('ChemProt.test', 111063),
 ('SCIERC.train', 104265),
 ('Economy.test', 101238),
 ('Economy.dev', 99705),
 ('ChemProt.dev', 79543),
 ('ARC.train', 70928),
 ('Taobao.train', 68086),
 ('Amazon.dev', 53449),
 ('Amazon.test', 51944),
 ('Suning.dev', 50876),
 ('Suning.test', 50863),
 ('Parties.test', 49982),
 ('Parties.dev', 48517),
 ('HyperPartisan.test', 39784),
 ('HyperPartisan.dev', 32149),
 ('SCIERC.test', 31639),
 ('Twitter.train', 28124),
 ('SCIERC.dev', 14906),
 ('Taobao.dev', 6993),
 ('Taobao.test', 6978),
 ('ARC.test', 5918),
 ('Twitter.dev', 4692),
 ('Twitter.test', 4628),
 ('ARC.dev', 4594),
 ('TA.dev', 3086),
 ('TA.train', 3053),
 ('TA.test', 2389),
 ('AmazonTest.dev', 307),
 ('AmazonTest.train', 282),
 ('AmazonTest.test', 237)]

In [22]:
# check metadata of all files

file name: Taobao.train length: 68086
file name: HyperPartisan.train length: 516
file name: TA.train length: 32
file name: AmazonTest.dev length: 4
file name: HyperPartisan.dev length: 64
file name: ChemProt.train length: 4169
file name: News.dev length: 4705
file name: Taobao.dev length: 6993
file name: SCIERC.test length: 974
file name: HyperPartisan.test length: 65
file name: AmazonTest.test length: 4
file name: Economy.train length: 4774
file name: News.train length: 9445
file name: News.test length: 4678
file name: Amazon.dev length: 600
file name: SCIERC.train length: 3219
file name: Twitter.dev length: 272
file name: Economy.dev length: 595
file name: Amazon.train length: 4800
file name: Yelp_Hotel.test length: 6993
file name: Suning.test length: 50844
file name: Parties.test length: 2012
file name: Twitter.train length: 1631
file name: Twitter.test length: 272
file name: ARC.dev length: 114
file name: Economy.test length: 596
file name: Taobao.test length: 6978
file name: ChemProt.dev length: 2427
file name: TA.dev length: 32
file name: Suning.dev length: 50851
file name: Amazon.test length: 600
file name: Suning.train length: 234074
file name: Yelp_Hotel.train length: 20975
file name: ARC.test length: 139
file name: Yelp_Hotel.dev length: 6991
file name: Parties.train length: 10059
file name: ARC.train length: 1688
file name: Parties.dev length: 2012
file name: AmazonTest.train length: 4
file name: TA.test length: 32
file name: ChemProt.test length: 3469
file name: SCIERC.dev length: 455

In [24]:
datum.sort(key=lambda x: len(x[0]))
for d,f_name in datum:
    print(f"file name: {f_name} length: {len(d)}")

file name: AmazonTest.dev length: 4
file name: AmazonTest.test length: 4
file name: AmazonTest.train length: 4
file name: TA.train length: 32
file name: TA.dev length: 32
file name: TA.test length: 32
file name: HyperPartisan.dev length: 64
file name: HyperPartisan.test length: 65
file name: ARC.dev length: 114
file name: ARC.test length: 139
file name: Twitter.dev length: 272
file name: Twitter.test length: 272
file name: SCIERC.dev length: 455
file name: HyperPartisan.train length: 516
file name: Economy.dev length: 595
file name: Economy.test length: 596
file name: Amazon.dev length: 600
file name: Amazon.test length: 600
file name: SCIERC.test length: 974
file name: Twitter.train length: 1631
file name: ARC.train length: 1688
file name: Parties.test length: 2012
file name: Parties.dev length: 2012
file name: ChemProt.dev length: 2427
file name: SCIERC.train length: 3219
file name: ChemProt.test length: 3469
file name: ChemProt.train length: 4169
file name: News.test length: 4678
file name: News.dev length: 4705
file name: Economy.train length: 4774
file name: Amazon.train length: 4800
file name: Taobao.test length: 6978
file name: Yelp_Hotel.dev length: 6991
file name: Taobao.dev length: 6993
file name: Yelp_Hotel.test length: 6993
file name: News.train length: 9445
file name: Parties.train length: 10059
file name: Yelp_Hotel.train length: 20975
file name: Suning.test length: 50844
file name: Suning.dev length: 50851
file name: Taobao.train length: 68086
file name: Suning.train length: 234074

In [16]:
datum[0]

TypeError: 'zip' object is not subscriptable

In [27]:
result_path = "../result/csv/Result.csv"
result = pd.read_csv(result_path)
result

,Base_Model,Fusion,Dataset_Name,Sigma,Round,InitAcc,InitF1,InitFairness,FinalAcc,FinalBaseAcc,FinalF1,FinalBaseF1,FinalFairness,FinalBaseFairness
0,TextCNN,SUM_Tanh,HyperPartisan,0.00,4,0.738462,0.711111,999999,0.815385,0.815385,0.798137,0.798137,17.928350,17.928350
1,TextRCNN,SUM_Tanh,HyperPartisan,0.00,4,0.753846,0.740000,999999,0.784615,0.784615,0.778265,0.778265,17.515682,17.515682
2,TextCNN,SUM_Tanh,Twitter,1.60,4,0.867647,0.768511,999999,0.911765,0.915441,0.840235,0.845512,18.892074,19.007671
3,TextRCNN,SUM_Tanh,Twitter,0.00,4,0.904412,0.829935,999999,0.889706,0.889706,0.800294,0.800294,18.873569,18.873569
4,TextCNN,SUM_Tanh,ARC,0.00,4,0.687500,0.515021,999999,0.695312,0.687500,0.557216,0.524764,41.491991,41.615359
5,TextCNN,SUM_Tanh,HyperPartisan,0.25,4,0.000000,0.000000,0,0.815385,0.800000,0.801829,0.787100,18.187113,17.987404
6,TextRCNN,SUM_Tanh,ARC,0.05,4,0.656250,0.485277,999999,0.703125,0.703125,0.638064,0.638064,42.094120,42.094120
7,TextRCNN,SUM_Tanh,HyperPartisan,0.00,4,0.000000,0.000000,0,0.800000,0.800000,0.790271,0.790271,17.531366,17.531366
8,TextCNN,SUM_Tanh,Twitter,0.60,4,0.000000,0.000000,0,0.915441,0.919118,0.853335,0.856098,18.524469,18.689761
9,TextRCNN,SUM_Tanh,Twitter,0.00,4,0.000000,0.000000,0,0.915441,0.878676,0.857996,0.719140,18.912991,19.960438
10,TextCNN,SUM_Tanh,HyperPartisan,0.30,4,0.000000,0.000000,0,0.769231,0.784615,0.745098,0.768801,17.805283,17.707124
11,TextRCNN,SUM_Tanh,HyperPartisan,0.00,4,0.000000,0.000000,0,0.815385,0.753846,0.798137,0.743590,17.944816,17.530913
12,TextCNN,SUM_Tanh,ARC,0.10,4,0.000000,0.000000,0,0.695312,0.703125,0.588301,0.600412,41.618831,41.652113
13,TextCNN,SUM_Tanh,Twitter,0.25,4,0.000000,0.000000,0,0.911765,0.908088,0.840235,0.832078,18.613659,18.784355
14,TextRCNN,SUM_Tanh,Twitter,0.00,4,0.000000,0.000000,0,0.908088,0.897059,0.828970,0.781024,19.126374,19.803236
15,TextRCNN,SUM_Tanh,ARC,0.00,4,0.000000,0.000000,0,0.703125,0.703125,0.587928,0.587928,41.792440,41.792440
16,TextCNN,SUM_Tanh,HyperPartisan,0.75,4,0.000000,0.000000,0,0.800000,0.815385,0.779085,0.798137,18.458733,18.458733
17,TextCNN,SUM_Tanh,SCIERC,0.25,4,0.644351,0.483395,999999,0.631799,0.655509,0.505532,0.492474,37.058340,38.978659
18,TextRCNN,SUM_Tanh,HyperPartisan,0.00,4,0.000000,0.000000,0,0.815385,0.815385,0.801829,0.801829,17.761653,17.761653
19,TextCNN,SUM_Tanh,Twitter,1.50,4,0.000000,0.000000,0,0.915441,0.915441,0.862272,0.855716,18.718413,18.862498
20,TextRCNN,SUM_Tanh,SCIERC,0.00,4,0.747559,0.609632,999999,0.740586,0.739191,0.631633,0.624017,36.795628,37.065789
21,TextCNN,SUM_Tanh,ARC,0.80,4,0.000000,0.000000,0,0.695312,0.671875,0.605437,0.539019,41.204021,41.227578
22,TextRCNN,SUM_Tanh,Twitter,0.50,4,0.000000,0.000000,0,0.908088,0.911765,0.837875,0.834264,18.897775,19.225781
23,TextRCNN,SUM_Tanh,ARC,0.00,4,0.000000,0.000000,0,0.695312,0.695312,0.567758,0.567758,41.134563,41.134563
24,TextCNN,SUM_Tanh,Amazon,0.15,4,0.713333,0.712615,999999,0.735000,0.733333,0.734999,0.733330,16.186150,16.173214
25,TextCNN,SUM_Tanh,ARC,0.40,4,0.000000,0.000000,0,0.742188,0.734375,0.579376,0.575488,41.361389,41.326114
26,TextCNN,SUM_Tanh,Economy,0.90,4,0.753356,0.591726,999999,0.738255,0.738255,0.618419,0.618419,16.607877,16.607877
27,TextRCNN,SUM_Tanh,Amazon,0.35,4,0.735000,0.733988,999999,0.751667,0.750000,0.751660,0.749975,16.244863,16.238046
28,TextRCNN,SUM_Tanh,Economy,0.60,4,0.786913,0.610668,999999,0.763423,0.763423,0.599933,0.599933,18.019881,18.019881
29,TextRCNN,SUM_Tanh,ARC,0.00,4,0.000000,0.000000,0,0.687500,0.687500,0.610604,0.610604,41.429682,41.429682
30,TextCNN,SUM_Tanh,SCIERC,0.25,4,0.000000,0.000000,0,0.609484,0.626220,0.478699,0.464027,37.256270,38.734129
31,TextRCNN,SUM_Tanh,SCIERC,0.00,4,0.000000,0.000000,0,0.737796,0.737796,0.637064,0.637064,36.476196,36.476196
32,TextCNN,SUM_Tanh,Parties,0.10,4,0.558151,0.551827,999999,0.599404,0.598410,0.592812,0.585581,13.717200,13.920298
33,TextCNN,SUM_Tanh,ChemProt,0.65,4,0.557588,0.321373,999999,0.565041,0.567751,0.328971,0.316356,49.122355,49.413478
34,TextRCNN,SUM_Tanh,Parties,0.00,4,0.622763,0.618324,999999,0.596421,0.596421,0.594569,0.594569,13.648280,13.648280
35,TextRCNN,SUM_Tanh,ChemProt,0.05,4,0.641260,0.408020,999999,0.617209,0.661585,0.430685,0.401196,49.384089,50.058049
36,TextCNN,SUM_Tanh,Amazon,0.25,4,0.000000,0.000000,0,0.730000,0.730000,0.729925,0.729973,16.174182,16.146195
37,TextCNN,SUM_Tanh,SCIERC,0.15,4,0.000000,0.000000,0,0.627615,0.623431,0.479293,0.440542,37.889031,39.420886
38,TextCNN,SUM_Tanh,Economy,0.70,4,0.000000,0.000000,0,0.746644,0.741611,0.623345,0.616954,17.171051,17.139650
39,TextRCNN,SUM_Tanh,Amazon,0.30,4,0.000000,0.000000,0,0.746667,0.746667,0.746326,0.746326,16.137798,16.137798

In [6]:
datum[0].head()

      label        text
0  零食/坚果/特产     19年新花生米
1  零食/坚果/特产   2019红皮花生米
2  零食/坚果/特产      5无糖口香糖
3  零食/坚果/特产  80后怀旧零食海带丝
4  零食/坚果/特产     ajj苏打饼干